<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.pblazek.wwmc" android:versionCode="1" android:versionName="1.0">

	<uses-sdk android:minSdkVersion="10" />

	<uses-permission android:name="android.permission.INTERNET" />

	<application android:name=".WifiMidiControllerApplication"
		android:label="@string/app_name" android:icon="@drawable/app_wwmc">

		<activity android:name=".PianoRollActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SettingsActivity" android:label="@string/menu_settings"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="cz.pblazek.wwmc.SHOW_SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".UdpBroadcastReceiver">
			<intent-filter>
				<action android:name="cz.pblazek.wwmc.UDP_BROADCAST_RECEIVER" />
			</intent-filter>
		</receiver>

		<service android:name=".UdpBroadcastService">
		</service>

	</application>

</manifest>